<div class="page-content">
    <img src="https://i.ibb.co/n6Fh8v7/new-clock.png">

    <legend>ADMIN LOGIN</legend>
    <div id="split">
            <form class="adminlogin" method="POST" action="/admin/login">
            <p>
                <label for="email" >EMAIL:</label>
                <input id="email" type="email" name="email">
            </p><p>
                <label for="password">PASSWORD</label>
                <input id="password" type="password" name="password">
            </p><p>
                 <input type="submit" value="SUBMIT">
            </p>          
            </form>
        <br>
        <p>NEED AN ACCOUNT FOR YOUR COMPANY?</p>
        <button onclick="window.location.href='/admin/new'">SIGN UP</button>
    </div>

</div>