
<h2> ADMIN LOGIN </h2>
<div class="adminlogin">
    <form class="login" method="POST" action="/admin/login">
        <fieldset>
            <label for="email" >EMAIL:</label>
            <input id="email" type="email" name="email">
        </fieldset>
        <fieldset>
            <label for="password">PASSWORD</label>
            <input id="password" type="password" name="password">
        </fieldset>
        <fieldset>
            <input type="submit" value="SUBMIT"> or <a href="/admin/new">Sign Up</a>
        </fieldset>       
    </form>
    <fieldset>
        <button onclick="window.location.href='/'">HOME</button>
    </fieldset> 
</div>