<div class="page-content">
    <img src="https://i.ibb.co/QFrVfxR/New-Project.png">

    <legend>ADMIN LOGIN</legend>
    <br>
            <form class="adminlogin" method="POST" action="/admin/login">
            <p>
                <label for="email" >E-mail:</label>
                <input class="input" id="email" type="email" name="email">
            </p><p>
                <label for="password">Password:</label>
                <input class="input" id="password" type="password" name="password">
            </p><p>
                 <input class="graybtn" type="submit" value="SUBMIT">
            </p>          
            </form>
        <br>
        <p class="subhead">Need an account for your company?</p>
        <button class="graybtn" onclick="window.location.href='/admin/new'">SIGN UP</button>
 
</div>