
<h2> ADMIN LOGIN </h2>
<div class="adminlogin">
    <form class="login" method="POST" action="/admin/login">
        <fieldset>
            <label for="email" >EMAIL:</label>
            <input id="email" type="email" name="email">
        </fieldset>
    
        <fieldset>
            <label for="password">PASSWORD</label>
            <input id="password" type="password" name="password">
        </fieldset>
    
        <input type="submit" value="Submit">
    
        or <a href="/admin/new">Sign Up</a>
        
    </form>
</div>
<div class="keypad">
    <button class="key" data-value="1">1</button>
    <button class="key" data-value="2">2</button>
    <button class="key" data-value="3">3</button>
    <button class="key" data-value="4">4</button>
    <button class="key" data-value="5">5</button>
    <button class="key" data-value="6">6</button>
    <button class="key" data-value="7">7</button>
    <button class="key" data-value="8">8</button>
    <button class="key" data-value="9">9</button>
    <button class="key clear" data-action="clear">C</button>
    <button class="key zero" data-value="0">0</button>
    <button class="key enter" data-action="enter">Enter</button>
</div>
<input type="text" id="inputField">
