<div class="newUser">
    <h2>ADD NEW ADMIN</h2>
    <form class="createAdmin" method="POST" action="/admin/signup/">
        <fieldset>
            <label for="email">Email:</label>
            <input id="email" type="email" name="email"/>
        </fieldset>
        <fieldset>
             <label for="password">Password:</label>
            <input id="password" type="password" name="password"/>
        </fieldset>
        <fieldset>
            <label for="fullname">Full Name:</label>
          <input id="fullname" type="text" name="fullname"/>
        </fieldset>
        <fieldset>
            <label for="organization">Organization:</label>
          <input id="organization" type="text" name="organization"/>
        </fieldset>
        <fieldset>
            <label for="username">Username:</label>
            <input id="username" type="text" name="username"/>
        </fieldset>
        <fieldset>
            <input type="submit" value="SUBMIT">
        </fieldset>
    </form>
</div>