<div class="page-content">
    <img src="https://i.ibb.co/ccr99tt/login-pen.png">
    
    <legend>ADMIN & ORGANIZATION SIGNUP</legend>
    <div class="newUser">
        <form class="createUser" method="POST" action="/admin/signup/">
            <div>
                <label for="fullname">Full Name:</label>
                <input id="fullname" type="text" name="fullname" required="true"/>
            </div>
            <div>
                <label for="email">Email:</label>
                <input id="email" type="email" name="email" required="true"/>
            </div>
            <div>
                <label for="password">Password:</label>
                <input id="password" type="password" name="password" required="true"/>
            </div>
            <div>
                <label for="organization">Organization:</label>
            <input id="organization" type="text" name="organization" required="true"/>
            </div>
            <div>
                <input type="submit" value="SUBMIT">
            </div>
        </form>
    </div>
</div>