<div class="page-content">
    <img src="https://i.ibb.co/QFrVfxR/New-Project.png">
    <legend>ADMIN & ORGANIZATION SIGNUP</legend>
    <p class="subhead"><i>All fields are required. Please fill up completely.</i></p>
    <br>
    <div class="newUser">
        <form class="createUser" method="POST" action="/admin/signup/">
            <p>
                <label for="fullname">Full Name:</label>
                <input class="input" id="fullname" type="text" name="fullname" required="true"/>
            </p>
            <p>
                <label for="email">Email:</label>
                <input class="input" id="email" type="email" name="email" required="true"/>
            </p>
            <p>
                <label for="password">Password:</label>
                <input class="input" id="password" type="password" name="password" required="true"/>
            </p>
            <p>
                <label for="organization">Organization:</label>
                <input class="input" id="organization" type="text" name="organization" required="true"/>
            </p>
            <p>
                <input class="graybtn" type="submit" value="SUBMIT">
            </p>
        </form>
    </div>
</div>