<br>
<h3>ADMIN PAGE</h3>
<br>
<nav>
    <button onclick="window.location.href='/admin'">HOME</button>
    <button onclick="window.location.href='/admin/modify-user'">USERS</button>
    <button onclick="window.location.href='/admin/modify-project'">PROJECTS</button>
    <button onclick="window.location.href='/admin/modify-klok'">KLOKS</button>

    <button onclick="window.location.href='/'">"Logout"</button>
</nav>
<br>