<h1>ADMIN PAGE</h1>
<br>
<nav>
    <a href="/user/admin"> HOME </a> // 
    <a href="/user/admin/modify-users"> USERS </a> //
    <a href="/user/admin/modify-projects"> PROJECTS </a> // 
    <button onclick="window.location.href='/'">"Logout"</button>
</nav>
<br>