<center>    
    <p class="footer">&copy; 2023 QwiKlok. Created for SEIR0725 [ <a href="https://github.com/afuller87">Amy Fuller</a> | <a href="https://github.com/rjsausa">RJ Sausa</a> | <a href="https://github.com/jaxdsout">Jaxon Southern</a> ]</p>
</center>