<<<<<<< HEAD
<p>&copy; 2023 Qwiklok App. All rights reserved.</p>
<a href="/about">About</a>
<a href="/contact">Contact</a>
<a href="/terms">Terms of Service</a>
=======
    <footer>
        <div class="footer-container">
            <p>&copy; 2023 QwiKlok </p>
        </div>
    </footer>
 
>>>>>>> groupdev
