<!--https://i.imgur.com/6OEKsjR.png-->

<nav class="nav">
    <div class="flex-container">
        <a href="/"><img src="https://i.ibb.co/xzwDGCw/logo.png" onclick="window.location.href='/'" alt="logo"></a>
        <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Klok-In/Out</a></li>
            <li><a href="/admin/login">Admin</a></li>
            <li><a href="#">About Us</a></li>
        </ul>
    </div>
</nav>
