<header>
    <div id="Time Puncher">
        <!-- possibly replace this with a logo or catchy phrase?-->
        <h1><a href="/">QwiKlok</a></h1>
    </div>
<!-- navigation links from the front page or just a login page? -->
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/employees">Contractors</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
        </ul>
    </nav>
</header>


