<div id="logo-container">
    <img src="https://i.imgur.com/6OEKsjR.png" onclick="window.location.href='/'" alt="logo">
</div>
<div class="topnav">
    <a href="/user/login">USER LOGIN</a>
    <a href="/user/login">USER LOGOUT</a>
    <a href="/admin/login">ADMIN LOGIN</a>
    <a href="/admin/logout">ADMIN LOGOUT</a>
</div>






