<div id="logo-container">
    <img src="https://i.imgur.com/6OEKsjR.png" onclick="window.location.href='/'" alt="logo">
</div>

<div class="topnav">
    <% if (!entryAccess) { %>
      <a href="/user/login">USER LOGIN</a>
      <a href="/admin/login">ADMIN LOGIN</a>
    <% } %>
</div>






