<header>
<!-- navigation links from the front page or just a login page? -->
    <nav>
        <center><img src="/images/logo.png" alt="logo" /></center>
        <br>
        <a href="/employees"><img src="/images/punch.png" alt="icon" /></a>
        <a href="/projects"><img src="/images/686112.png" alt="projects" /></a>
        <a href="/dashboard"><img src="/images/Dashboard-icon.png" alt="dashboard" /></a>
    </nav>
</header>


