<body>
<h1>ADMIN PAGE</h1>
<br>
<br>

<h2>ADD NEW USER</h2>
<form class="createUser" method="POST" action="/newuser">
      <label for="name">Name:</label>
            <input id="name" type="text" name="name"/>
        <br>
      <label for="email">Email:</label>
            <input id="email" type="email" name="email"/>
        <br>
      <label for="password">Password:</label>
            <input id="password" type="password" name="password"/>
        <br>
        <label for="startdate">Start Date:</label>
                <input id="startdate" type="date" name="startdate"/>
        <br>
      <label for="position">Position:</label>
            <select name="role">
            <option value="Apprentice">Apprentice</option>
            <option value="Journeyman">Journeyman</option>
            <option value="Master Electrician">Master Electrician</option>
            </select>
        <br>
        <label for="payrate">Pay Rate:</label>
            <input id="payrate" type="number" name="payrate"/>

            <button type="submit">Add Employee</button>
</form>


<h2>ADD PROJECT</h2>
<form class="createProject" method="POST" action="/newproject">
      <label for="name">Name:</label>
            <input id="name" type="text" name="name"/>
        <br>
      <label for="location">Location:</label>
            <input id="location" type="text" name="location"/>
        <br>
      <label for="active">Active:</label>
            <input id="active" type="checkbox" name="active"/>
        <br>
        <label for="startdate">Start Date:</label>
                <input id="startdate" type="date" name="startdate"/>
        <br>
      <label for="users">Users:</label>
            <select name="users">
            <!-- Code for retrieving list of current employees
                <option value="employee">employee</option> -->
            </select>
        <br>

            <button type="submit">Add Project</button>
</form>

<h2>ALL PROJECTS</h2>
<ul>
    <li><!-- get all projects displayed --></li>
</ul>


<h2>ALL USERS</h2>
<ul>
    <li><!-- get all users displayed --></li>
</ul>



</body>


