<body>

<h1> USER PAGE </h1>

<h2> CREATE TIMEPUNCH</h2>
<form class="createPunch" method="POST" action="/user/">
    <label for="date">Date:</label>
          <input id="date" type="date" name="date"/>
      <br>
      <label for="description">Description:</label>
      <input id="description" type="text" name="description"/>
    <br>
    <label for="hours">Hours:</label>
      <input id="hours" type="number" name="hours"/>
    <br>
    <button type="submit">Log Time</button>
</form>

</body>