 <div class="maincontainer login">
    <div class="userlogin">

        <button onclick="window.location.href='/user/login'">"User Login"</button></nav>
        <button onclick="window.location.href='/admin/login'">"Admin Login"</button></nav>
    </div>
</div> 

