 <div class="maincontainer login">
    <div class="userlogin">
        <h2> USER LOGIN: </h2>
        <form class="login" method="POST" action="/user">
            <label for="PIN">PIN:</label>
                <input id="PIN" type="text" name="PIN"/>
            <button type="submit">Login</button>
        </form> 
    </div>
    <div class="adminlogin">
        <h6> ADMIN LOGIN: </h6>
        <button onclick="window.location.href='/user/admin'">"Login"</button>
    </div>
</div> 

