 <div class="maincontainer login">
    <div class="userlogin">
        <h2>USER LOGIN:</h2>
        <form class="login" method="POST" action="/login">
            <label for="PIN">PIN:</label>
                <input id="PIN" type="text" name="PIN"/>
            <button type="login">Login</button>
        </form> 
    </div>
    <div class="adminlogin">
        <button onclick="window.location.href='/admin'">ADMIN LOGIN</button>
    </div>
</div> 

