 <div class="maincontainer login">
   <fieldset>
        <button onclick="window.location.href='/user/login'">USER LOGIN</button></nav>
   </fieldset>
   <fieldset>
            <button onclick="window.location.href='/admin/login'">ADMIN LOGIN</button></nav>
   </fieldset>
    </div>
</div> 

