<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>
 
<h2> LOGIN: </h2>

<form class="login" method="POST" action="/user/">
    <label for="PIN">PIN:</label>
          <input id="PIN" type="PIN" name="PIN"/>
    <br>
    <button type="submit">Login</button>
</form>
</body>