<head>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>

<body>
 
<h1>Welcome to Qwiklok.</h1>
<p>Please log in with your PIN to get access.</p>

<form class="login" method="POST" action="/user/">
    <label for="PIN">PIN:</label>
          <input id="PIN" type="PIN" name="PIN"/>
        <button type="submit">Login</button>
</form>
</body>