<%- include('./partials/admin.ejs') %>

<div class="maincontainer admin">
    <div class="newProject">
        <h2>ADD PROJECT</h2>
        <form class="createProject" method="POST" action="/user/admin/new-project">
            <label for="name">Name:</label>
                <input id="name" type="text" name="name"/>
            <br>
            <label for="location">Location:</label>
                <input id="location" type="text" name="location"/>
            <br>
            <label for="startDate">Start Date:</label>
                <input id="startDate" type="date" name="startDate"/>
            <br>
            <label for="active">Active:</label>
                <input id="active" type="checkbox" name="active"/>
            <br>
            <label for="projectType">Project Type:</label>
                <input id="projectType" type="text" name="projectType"/>
            <button type="submit">Add Project</button>
        </form>
    </div>
    <div class="allprojects">
        <h2>ALL PROJECTS</h2>
        <ul>
            <% projects.forEach((project) => { %>
                <li><%= project.name %> <button onclick="window.location.href='/project/<%= project.id %>'">EDIT</button>
            <% }) %>
            <li>
        </ul>
    </div>
</div>