<%- include('./partials/admin.ejs') %>
<div class="maincontainer admin">
    <div class="allkloks">
        <h2>ALL KLOKS</h2>
        <ul>
            <% kloks.forEach((klok) => { %>
                <li><%= klok.id %> <button onclick="window.location.href='/klok/<%= klok.id %>'">EDIT</button>
                <% }) %>
            <li>
        </ul>
    </div>
</div>