<%- include('./partials/admin.ejs') %>

<div class="maincontainer admin">
    <div class="newUser">
        <h2>ADD NEW USER</h2>
        <form class="createUser" method="POST" action="/user/admin/new-user">
            <label for="username">Username:</label>
                <input id="username" type="text" name="username"/>
            <br>
            <label for="fullmame">Full Name:</label>
                <input id="fullname" type="text" name="fullname"/>
            <br>
            <label for="PIN">PIN:</label>
                <input id="PIN" type="number" name="PIN"/>
            <br>
            <label for="startDate">Start Date:</label>
                <input id="startDate" type="text" name="startDate"/>
            <br>
            <label for="position">Position:</label>
                <input id="position" type="text" name="position"/>
            <br>
            <label for="hourlyPay">Pay Rate:</label>
                <input id="hourlyPay" type="number" name="hourlyPay"/>
            <button type="submit">Add Employee</button>
        </form>
    </div>
    <div class="allusers">
        <h2>ALL USERS</h2>
        <ul>
            <% users.forEach((user) => { %>
                <li><%= user.fullname %> <button onclick="window.location.href='/user/<%= user.id %>'">EDIT</button>
              <% }) %>
            <li>
        </ul>
    </div>
</div>