<body>
    <h1>Secured Login</h1>
    <br>
    <% if(user) { %>
        <div class="profileInfo">
            <p class="name">
                USERNAME: <%= user.name.charAt(0).toUpperCase() + user.name.slice(1) %>
            </p>
        </div>
    <% } %>
</body>