body {
    background: lightblue;
}

h1 {
    font-weight: 500;
}
/* container and layout */
.maincontainer {
    display: flex;
    flex-direction: column;
    width: 50%;
    background-color: white;
    align-items: center;
    padding: 20px;
}

.admin {
    display: flex;
    flex-flow: column nowrap;
    column-count: 2;
}

