body {
    display: flex;
    flex: auto;
    flex-wrap: wrap;
    flex-direction: column;
    background: rgb(211, 211, 211);
    font-family: 'Roboto', sans-serif;
    width: 50%;
}

.maincontainer {
  background-color: #FFFFFF;
  border: 10px black solid;
  padding: 14px 15px;
}


.topnav {
    background-color: #000000;
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: rgb(211, 211, 211);
    color: black;
  }

  .adminnav {
    background-color: #000000;
    overflow: hidden;
  }
  
  .adminnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 13px;
  }
  
  /* Change the color of links on hover */
  .adminnav a:hover {
    background-color: rgb(211, 211, 211);
    color: black;
  }
