<div class="page-content">
    <img src="https://i.ibb.co/m9bqXsx/clock-1.png">

    <legend>USER LOGIN</legend>
    <p class="subhead">Please log in using the 5-digit PIN provided by your ADMIN.</p>
    <br>
        <form class="login" method="POST" action="/user/login">
            <span>  </span>
                <label for="PIN">PIN:</label>
                <input class="input" id="PIN" type="password" name="PIN" maxlength="5" inputmode="numeric">            <span>  </span>
                <span>  </span>

                <input class="graybtn" type="submit" value="SUBMIT">
        </form>
  
</div>
