<div class="page-content">
    <img src="https://i.ibb.co/m9bqXsx/clock-1.png">

    <legend>USER LOGIN</legend>
    
    <div id="split">
        <form class="login" method="POST" action="/user/login">
            <label for="PIN">PIN:</label>
            <input id="PIN" type="password" name="PIN" maxlength="5" inputmode="numeric">
            <span>  </span>
            <input type="submit" value="SUBMIT">
        </form>
        <h6>Problems logging in? Please contact your admin or contact us <a href="mailto:support@qwiklok.com">here</a>.</h6>
    </div>
</div>
