

<div class="userLogin">
    <form class="login" method="POST" action="/user/login">
        <fieldset>
            <label for="PIN" >PIN:</label>
            <input id="PIN" type="password" name="PIN">
        </fieldset>
        <fieldset>
        <input type="submit" value="Submit">
        </fieldset>
    </form>
</div>