<div class="page-content">
    <img src="https://i.ibb.co/LPds7zd/Klok-header.png">

    <legend>USER LOGIN</legend>
    
    <div id="split">
        <form class="login" method="POST" action="/user/login">
            <label for="PIN">PIN:</label>
            <input id="PIN" type="password" name="PIN" maxlength="5" inputmode="numeric">
            <span>  </span>
            <input type="submit" value="SUBMIT">
        </form>
    </div>
</div>