<div class="page-content">
    <img src="https://i.ibb.co/LPds7zd/Klok-header.png">

    <h3>USER LOGIN</h3>
    
    <div id="split">
        <form class="login" method="POST" action="/user/login">
            <fieldset>
                <label for="PIN" >PIN:</label>
                <input id="PIN" type="password" name="PIN" maxlength="5" inputmode="numeric">
            </fieldset>
            <input type="submit" value="submit">
        </form>
    </div>
</div>